.text {
  text-align: center;
  color: #CD986E;
  font-size: 22px;
  max-width: 280px;
  margin: auto;
  width: 100%;
}

.text .title, .text .description {
  margin: 0
}

.text .title {
  font-weight: bold;
  font-size: 28px;
}

.text .description {
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (max-height: 500px) {
  .text .title {
    font-size: 20px;
  }
}