.text {
  text-align: center;
  color: #CD986E;
  font-size: 22px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.text .title, .text .description {
  margin: 0
}

.text .title {
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
}

.text .description {
  font-size: 18px;
  letter-spacing: .5px;
}

@media screen and (max-height: 500px) {
  .text .title {
    font-size: 20px;
  }
}