.waiting {
  font-family: 'Clicker Script', cursive;
  margin: 10px 0;
}

.waiting h2 {
  font-size: 40px;
  color: #E9F1DC;
  font-weight: 500;
}

.green {
  color: #40615A;
}

@media screen and (max-width: 320px) {
  .waiting {
    margin: 5px 0;
  }

  .waiting h2 {
    font-size: 30px;
  }

}