.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: #40615A;
}

.guests .greeting {
  margin: 0;
}

.guests .names {
  font-family: 'Quicksand Bold', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  height: 17px;
}

.guests .division {
  aspect-ratio: attr(width) / attr(height);
  margin: 5px;
}

.light {
  color: #fff;
}