.guests {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  font-size: 15px;
  margin: 10px 0 0 0;
  color: #40615A;
  text-align: center;
}

.guests .greeting {
  margin: 0;
}

.guests .names {
  font-size: 17px;
  text-transform: uppercase;
  height: auto;
  aspect-ratio: auto;
}

.guests .aditional-text {
  font-size: 15px;
  text-transform: none;
  margin-top: -10px;
}

.light {
  color: #fff;
}