.card-info {
  text-align: center;
}

.header .title {
  text-transform: uppercase;
  color: #E9F1DC;
  font-size: 18px;
  font-weight: 500;
}

.card-info .people, .card-info .requirements {
  text-align: center;
  max-width: 200px;
  color: #fff;
  font-size: 12px;
  margin: 0 auto;
}

.card-info .requirements {
  margin: 10px auto;
}

.card-info .header, .card-info .loc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  margin: 0 0 5px 0;
}

.card-info .loc {
  color: #fff;
}

.card-info .hour {
  font-size: 18px;
  margin-right: 5px;
  font-weight: bold;
}

.card-info .location {
  font-size: 15px;
  margin-left: 5px;
}

.card-info .icon {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.card-info .description {
  color: #fff;
  font-size: 15px;
  margin: 0;
}

.card-info .button-location {
  text-align: center;
  margin: 10px auto;
  width: 100px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.card-info .button-location a img {
  transition: all 0.2s ease-in-out;
}

.card-info .button-location a img:hover {
  transform: scale(1.05);
}