* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  max-width: 400px;
  margin: auto;
  background-color: #CD986E;
  height: 100vh;
}

:root {
  --green-color: #40615A
  --white-color: #fff;
}